body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: bicubic;
    font-family: Kiona, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
    src: url("final_projecr/Kiona-Regular.ttf");
    background-image: url(img/bg-05.png);
    background-size: contain;
	}

#nav {
    position: absolute;
    top: 10%;
    left: 90%;
}
header {
	background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.3));
}
#logo {
    margin-left: 40%;
	
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px #616161;
    position: relative;    
}
li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #424242;
    position: relative;
}

.bar {
    width: 70%;
    height: 50%;
    margin-right: auto;
    margin-left: 25%;
    margin-bottom: 0;
    align-content: center;
    margin-top: 4%;
    color: #0C9947;
    background-color: #FFFFFF;
	padding: 20px;
}
.bar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.container{
    margin-top: 5%;
	height: auto;
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-column-gap: 70px;
    grid-template-columns: auto auto auto;
    padding: 30px;
    font-family: "Helvetica Neue Medium";
    background-color: #FFFFFF;
	
}

.img {
	border-radius: 10px; 
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.lable {
    color: #006033;
    font-size: 14pt;
    text-align: center;
}

.ingreed {
    text-align: justify;
    font-size: 12pt;
    line-height: 20px;
}

.health{
    text-align: left;
    font-size: 11pt;
    color: #5A5A5A;
}

.diet{
	text-align: left;
    font-size: 11pt;
    color: #5A5A5A;
}

#button {
    float: center;
    position: relative;
    width: 120px;
    height: 50px;
    padding: 6px;
    margin-top: 10%;
    margin-right: auto;
    margin-left: 30%;
    margin-bottom: auto;
    background-color: #0c9948;
    font-size: 17px;
    border: 1px solid #07652F;
    border-radius: 5px;
    color: #FFFFFF;	
}
#button:hover{
    background-image: url(img/hover-04.png);
    background-color: #B8DDAB;
    background-size: 50%;
    background-repeat: no-repeat;
	background-position: center;
	font-size:  0pt;
}
#search {
	float: none;
    display: block;
	position: absolute;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 14px;
	border: 1px solid #ccc;  
	border-radius: 40px;



}
#slogan {
    line-height: 71px;
    font-size: 40pt;
    text-align: center;
    margin-top: auto;
    margin-right: auto;
    margin-left: -25%;
    margin-bottom: 30px;
}
